.black-hole-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: radial-gradient(circle at bottom, #000000 40%, #3b3a3a 50%, #000 80%);
}